{% extends "dashboard.html" %}
{% load static %}

{% block dashboard_content %}
<style>
    .button-container a, .button-container input {
            display: inline-block;
            margin: 5px;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border: none;
            cursor: pointer;
        }
        .sidebar-collapse {
            position: fixed;
            top: 5px;
            left: 10px;
            z-index: 9999;
        }
</style>
<center><h4>Holding Payments</h4></center>
<table>
    <tr><th></th>
        <th></th>
        <th>ID</th>
        <th>Member</th>
        <th>Payment Type</th>
        <th>Payment Date</th>
        <th>Expiry Date</th>
        <th>Amount</th>
        <th>Action</th>
    </tr>
    {% for payment in payments %}
    <tr><td></td><td></td>
        <td>{{ payment.member.unique_number }}</td>
        <td>{{ payment.member.name }}</td>
        <td>{{ payment.payment_type }}</td>
        <td>{{ payment.payment_date }}</td>
        <td>{{ payment.expiry_date }}</td>
        <td>{{ payment.amount }}</td>
        <td><div class="button-container">
            <a href="{% url 'mark_payment_complete' payment.id %}" style="background-color: #28a745;">Mark as Complete</a>
        </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock dashboard_content %}